<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/css/game.css">
        <link rel="stylesheet" href="/suit.js">
        <link rel="stylesheet" href="index">
    </head>

    <body>

        <!-- Top Navigation -->
        <header>
            <div class="back pt-3">
                <a href="/home">
                    <img src="/img/back sign.png" alt="backsign">
                </a>
            </div>

            <div class="brand">
                <img src="/img/logo 1.png" alt="logo" class="logo">
                <h1>ROCK PAPER SCISSORS</h1>
            </div>
        </header>



        <!-- Game Area -->
        <section>
            <div class="container mt-5">
                <!-- Player -->
                <div class="left-side">
                    <div class="player">
                        <h2 class="pt-"> PLAYER 1</h2>
                    </div>
                    <div class="player-choice">
                        <div class="myoption">
                            <button class="option-user pt-4">
                                <img src="/img/batu 1.png" alt="batu"
                                    id="batu-user"></button>
                        </div>
                        <div class="myoption">
                            <button class="option-user">
                                <img src="/img/kertas 1.png " alt="kertas"
                                    id="kertas-user"></button>
                        </div>
                        <div class="myoption">
                            <button class="option-user">
                                <img src="/img/gunting 1.png" alt="gunting"
                                    id="gunting-user"></button>
                        </div>
                    </div>
                </div>

                <!-- VS -->
                <div class="d-flex flex-column align-items-center
                    justify-content-center ">
                    <div id="versusBox" class="versus mt-5"><h1 id="default">VS</h1></div>
                    <div id="player-win" class="bg-success text-center d-none "
                        style="color: white; rotate: -25deg; text-align: center;
                        font-size: 2em; font-weight: 700; width: 250px;
                        letter-spacing: 1px;">PLAYER 1 <br>WIN</div>
                    <div id="comp-win" class="bg-success text-center d-none"
                        style="color: white; rotate: -25deg; text-align: center;
                        font-size: 2em; font-weight: 700; width: 250px;
                        letter-spacing: 4px; ">COM <br>WIN</div>
                    <div id="draw" class="bg-success text-center d-none"
                        style="color: white; rotate: -25deg; text-align: center;
                        font-size: 2em; font-weight: 700; width: 250px;
                        letter-spacing: 4px;">DRAW</div>
                    <div id="refresh"><img src="/img/refresh 2.png"></div>
                </div>

                <!-- COM -->
                <div class="right-side">
                    <div class="com">
                        <h2 class="playername"> COM </h2>
                    </div>

                    <div class="comp-choice">
                        <div class="comoption ">
                            <button class="option-comp pt-4">
                                <img src="/img/batu 1.png" alt="batu"
                                    id="batu-c"></button>
                        </div>
                        <div class="comoption">
                            <button class="option-comp">
                                <img src="/img/kertas 1.png " alt="kertas"
                                    id="kertas-c"></button>
                        </div>
                        <div class="comoption">
                            <button class="option-comp">
                                <img src="/img/gunting 1.png" alt="gunting"
                                    id="gunting-c"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- JS -->
        <script src="suit.js"></script>
    </body>
</html>