<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <!-- Navbar -->
<div id="main-screen">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4" >
        <div class="container-fluid">
          <a class="navbar-brand ms-5 m" href="#" >LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item ">
                <a class="nav-link ms-5 " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-5 " href="#">Work</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-5 " href="#">Contact</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-5 " href="#">About Me</a>
              </li>
            </ul>
            
            <!-- Right Navbar -->
            <ul class="navbar-nav d-flex" id="rightnavbar">
              <li class="nav-item">
                  <a href=/auth/register class="nav-link active">Sign Up</a>
              </li> 
               <li class="nav-item">
               <a href=/auth/login class="nav-link active" href="#">Login</a>
                </li>            
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </nav>
      
      <!-- End Navbar -->
      <div class="headerinfo">
      <div class="text-center" id="Homepage">
          <h1 class="text-uppercase fw-bold" >Play Traditional Game</h1>
          <h3 >Experience New Tradition Game Play</h3>
          
          <button type="button" class="btn btn-warning fw-bold">
            <a href="/game" class="text-black" style="text-decoration: none;";>
              <p>TRIAL</p>
            </a>
          </button>
        </div>
        
        <div class="scrolldown">
          <p class="fw-bold">THE STORY</p>
          <img src="/img/scroll down.png" alt="scrolldown" id="scrolldown">
        </div>
      </div>
        

    <!-- Gallery -->
   
    <section class="gallery container-fluid" id="gallery">
            <section class="row ml-3 gallery-content">
              <h3 class="col ms-5 mt-5 my-5">
                What's So Special ?
              </h3>
              <div class="row mt-lg-auto mb-5" id="gl-left-side">
                <h1 class=" gl-h1-info ms-5 ">
                  THE GAMES
                </h1>
                <div class="col-sm-10">
                  <img src="/img/gunting.png" class="col-sm-7 float-end mt-5 "alt="gunting" id="gunting">
                  <img src="/img/switch.svg" alt="switchleft" id="switchleft">
                  <img src="/img/switch.svg" alt="switchright" id="switchright">
                </div>
                  
                <div class="container-fluid d-inline-flex ms-5 p-5" id="dot">
                    <div class="me-5">
                      <img src="/img/dot.png" alt="dot1">
                    </div>
                    <div class="me-5">
                      <img src="/img/dotempty.png" alt="dot2">
                    </div>
                    <div class="me-5">
                      <img src="/img/dotempty.png" alt="dot3">
                    </div>
                    <div class="me-5">
                     <img src="/img/dotempty.png" alt="dot4">
                   </div>
                    <div class="me-5">
                     <img src="/img/dotempty.png" alt="dot5">
                    </div>
            </div>
          </div>
        </section>

        <!-- end galery -->


        <!-- Feature -->

        <section class="feature">
          <div class="container">
            <div class="row justify-content-end features-contents">
              <div class="col-4 features-info mb-2">
                <h3 class="features-info-title">
                  What's so special?
                </h3>
                <h1 class="features-info-content">
                  FEATURES
                </h1>
              </div>
            </div>
            <div class="row justify-content-end features-timeline">
              <div class="col-5 features-timeline-content">
                <div class="row timeline">
                  <div class="col-3 pt-0 mb timeline-dot">
                    <img src="/img/dot.png">
                    <img src="/img/progress bar.png" id="progressbar">
                  </div>
                  <div class="col tl-info">
                    <h2 class="tl-info-title mt-2">
                      TRADITIONAL GAMES
                    </h2>
                    <p class="tl-info-content">
                      If you miss your childhood, we provide many traditional games here
                    </p>
                  </div>
                </div>

                <div class="row timeline">
                  <div class="col-3 pt-2 mt-1 timeline-dot">
                    <img src="/img/dotempty.png">
                  </div>
                  <div class="col tl-info">
                    <h2 class="tl-info-title">
                      GAME SUIT
                    </h2>
                  </div>
                </div>
                <div class="row timeline">
                  <div class="col-3 pt-2 mt-1 timeline-dot">
                    <img src="/img/dotempty.png">
                  </div>
                  <div class="col tl-info">
                    <h2 class="tl-info-title">
                      TBD
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- End Feature -->


        <!-- System Requirement -->

        <section class="sysreq">
          <div class="container">
            <div class="req-info-top">
              <h5>Can My Computer Run This Game?</h5>
            </div>
            <div class="row">
              <div class="col-xl-4 col-md-4">
                <h1 class="rq-table-title">SystemRequirements</h1>
      
                <!-- Table -->
                <table class="table table-bordered table-content-sys">
                  <tbody>
                    <tr>
                      <td>
                        <h2 class="requirements-info">OS:</h2>
                        <p class="requirements-info-content">
                          Windows 7 64-bit only <br>(No OSX support at this time)
                        </p>
                      </td>
                      <td>
                        <h2 class="requirements-info">Processor:</h2>
                        <p class="requirements-info-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2 class="requirements-info">MEMORY:</h2>
                        <p class="requirements-info-content">4 GB RAM</p>
                      </td>
                      <td>
                        <h2 class="requirements-info">STORAGE:</h2>
                        <p class="requirements-info-content">8 GB available space</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <h2 class="requirements-info">GRAPIHICS:</h2>
                        <p class="requirements-info-content">
                          NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB
                          DirectX11 (Shader Model S)
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End of table -->
      
      
              </div>
            </div>
          </div>
        </section>

        <!--  System Requirement-->
        <section class="system">
          <div id="systembackground">
            <div class="row">
              <div class="col-6" id="systemleft">
                <div class="mx-5 my-5 px-5">
                  <h1>TOP SCORES</h1>
                <p id="narasi">This top score from various games provided <br>on this platform</p>
                <div class="row">
                <button class="btn ">see more</button>
              </div>
             </div>
            </div>
              <div class="col-6">
                <div class="row">
                  
                  <!-- card 1 -->
                  <div class="col-1 offset-4 card bg-dark">
                    <div class="card-body row mb-5">
                      <div class="col-2">
                      <img src="/img/profile1.png" alt="Evan Lahti" class="rounded-circle" width="70" height="70">
                    </div>
                    <div class="col-8 ms-3" id="profile1">
                      <h2 class="text-warning pt">Evan Lahti</h2>
                      <p>PC Gamer</p>
                    </div>
                    <div class="col-1">
                      <img src="/img/twitter.png" alt="twitter">
                    </div>
                    <div class="row ">
                      <h5 class="col-12 pt-3">“One of my gaming highlights of the year.”</h5>
                    </div>
                    <div class="row ">
                      <h6>June 18, 2021</h6>
                    </div>
                    </div>
                  </div>

                  <!-- card 2 -->

                  <div class="card bg-dark">
                    <div class="card-body row mb-5">
                      <div class="col-2">
                      <img src="/img/profile2.png" alt="Jada Griffin" class="rounded-circle" width="70" height="70">
                    </div>
                    <div class="col-8 ms-3" id="profile1">
                      <h2 class="text-warning">Jada Griffin</h2>
                      <p>Nerdreactor</p>
                    </div>
                    <div class="col-1">
                      <img src="/img/twitter.png" alt="twitter">
                    </div>
                    <div class="row ">
                      <h5 class="col-12">“The next big thing in the world of streaming and survival games.”</h5>
                    </div>
                    <div class="row ">
                      <h6>July 10, 2021</h6>
                    </div>
                    </div>
                  </div>
                </div>
              
                    <!-- card 3 -->

                    <div class="col-1 offset-4 card bg-dark">
                      <div class="card-body row mb-5">
                        <div class="col-2">
                        <img src="/img/profile3.png" alt="Aaron Williams " class="rounded-circle" width="70" height="70">
                      </div>
                      <div class="col-8 ms-3" id="profile1">
                        <h2 class="text-warning">Aaron Williams </h2>
                        <p>Uproxx</p>
                      </div>
                      <div class="col-1">
                        <img src="/img/twitter.png" alt="twitter">
                      </div>
                      <div class="row ">
                        <h5 class="col-12">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</h5>
                      </div>
                      <div class="row ">
                        <h6>December 24, 2018</h6>
                      </div>
                      </div>
                    </div>
            </div>
            </div>
          </div>
        </section>   
        
        <!-- newletter  -->

        <section class="footer">
          <div class="newsletter ">
            <div class="row">
            <div class="col-3 offset-1">
              <img src="/img/skull.png" alt="skull" >
            </div>
            <div class="col-7 offset-1">
              <div class="col-3">
              <h3>Want to stay in touch?</h3>
            </div>
              <div class="row">
                <div class="col-6 mb-3">
              <h1>NEWSLETTER SUBSCRIBE </h1>
              </div>
            <div class="row">
              <div class="col-8">
              <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            </div>
            
            <div class="row">
            <div class="col-2 card bg-dark ms-2 mt-4" id="emailinput">
              <h5 class="text-white-50 mt-2">Your email address</h5>
              <p class="text-warning">youremail@binar.co,id</p>
          </div>
          
            <div class="col-2 mt-2">
            <div class="btn fw-bold" id="btnsub">Subcribed Now</div>
            </div>
          </div>
          
            </div>
          </div>
          </div>
          </div>

          <div class="row" id="icon">
              <div class="col-6 offset-6 ">
                <ul class="list-group list-group-horizontal my-5 mx-5 ">
                  <li class="list-group-item bg-transparent text-white">MAIN</li>
                  <li class="list-group-item bg-transparent text-white">ABOUT</li>
                  <li class="list-group-item bg-transparent text-white">GAME FEATURES</li>
                  <li class="list-group-item bg-transparent text-white">SYSTEM REQUIREMENT</li>
                  <li class="list-group-item bg-transparent text-white">QUOTES</li> 
                  <li class="list-group-item bg-transparent text-bg-dark"><i class="bi bi-facebook"></i></li> 
                  <li class="list-group-item bg-transparent text-white"><i class="bi bi-twitter"></i></li> 
                  <li class="list-group-item bg-transparent text-white"><i class="bi bi-youtube"></i></li> 
                  <li class="list-group-item bg-transparent text-white"><i class="bi bi-twitch"></i></li> 
                </ul>
              </div>
              </div>
              <div><hr></div>
           
            
            <!-- end newsletter -->
            
            <div class="row" id="copyright">
              <div class="col-4 ps-5">
                <h6> © 2018 Your Games, Inc. All Rights Reserved</h6>
              </div>
              <div class="col-8 text-end pe-5" id="policy">
                <h5>Privacy Policy | Terms of Services | Code of Conduct</h5>
              </div>
            </div>
            </div>
          </section>
          

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

