html{
    overflow-x: hidden;
    
}
/* page one */
#main-screen{
    background: url("/img/bg-1.jpg");
    background-position: center center;
    background-size: cover ;
    height: 100vh;
    background-repeat: no-repeat;
    border-color: black;
   
    
}

.navbar-brand{
    padding-left: 3em;
    font-size: 20px;
}


.navbar-dark {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.nav-item{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    
}

#rightnavbar{
    margin-right: 8em;
    letter-spacing: 3px;
}


.nav-link{
    color: white;
    font-size: 15px;
}

h1{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 1em;
}

h3{
    
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: 400;
    margin-top: 3em;
    font-weight: 200;
   
    
}
.headerinfo{
    margin-top: 10em;
    color: white;
    font-family: "arial";
}

.btn{
    width: 300px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    margin-top: 3em;
    letter-spacing: 2px;
    font-size:  25px;

}

.scrolldown{
    color: white;
    position: absolute;
    left: 48%;
    top: 87%;
    font-weight: 900;
    font-size: 20px;
}

#scrolldown{
    padding-left: 2em;
    padding-bottom: 3em;
}


/* page two */

.gallery{
   background-image: url(../img/bg-2.jpg);
   background-position: center center;
   background-size: cover;
   height: 100vh;
   margin-top: 22.3em;
   color: white;
   position: relative;
}



.gallery-content{
    font-family: "arial";
    font-style: normal;
    letter-spacing: 3px;
}



#switchright{
    rotate: 180deg;
    position: relative;
    left: 100%;
    margin-top: 18%;
}

#switchleft{
    position: relative;
    left: 39%;
    margin-top: 18%;
}
 
#dot{
    display: inline-block;
    position: absolute;
    left: 48%;
    top: 75%;
}

/* page three */

.feature{
    background-image: url(../img/bg-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh;
    width: 99.1vw;
    margin-left: -12px;
    margin-top: 6em;
    background-position: left; 
    }


#progressbar{
    position: relative ;
    top: 4em;
    right: 0.9em;
   
}

.features-contents {
    color: white;
    padding-top: 14rem;
}

.features-info-title {
    font-size: 1.5rem;
}

.features-info-content {
    line-height: 1.5rem;
}

.timeline {
    margin-top: 8%;
}

.timeline-dot {
    margin-right: -1.5rem;
}

.tl-info-title {
    font-size: 2rem;
    color: #FBB341;
    letter-spacing: 0.2rem;
}

.tl-info-content {
    color: white;
    font-size: 1.5rem;
}

/* page four */

.sysreq {
    width: 100vw;
    height: 100vh;
    background-image:
        radial-gradient(30% 75% at 65% 40%,
            rgba(0, 0, 52, 0) 0%,
            rgba(10, 10, 10, 0.50) 50%,
            #000 95%),
        url(/img/bg-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    margin-left: -12px;

}

.sysreq h1 {
    font-size: 46px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.req-info-top {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: -1.5rem;
}

.req-info-top h5{
    margin-top: -60px;
}

.rq-table-title {
    line-height: 3rem;
}

 

.requirements-info {
    font-family: "Arial";
    color: #FBB341;
    font-style: normal;
}

.requirements-info-content {
    color: white;
    line-height: 1rem;
}

.table-bordered td {
    border: #212226 1px solid !important;
}

/* score */

#systembackground {
    background-color: black;
    width: 100vw;
    margin-left: -12px;
    padding-bottom: 5em;
}

#systemleft{
    display: block;
    position: relative;
    margin-top: 280px;
}


.card{
    height: 200px;
    width: 400px;
    margin-top: 6em;
}

#narasi{
    padding-top: 20px;
}

.btn {
    margin-top: 1em;
}

/* Newletter */

.newsletter{
    background-color: black;
    width: 100vw;
    margin-left: -12px;
    padding-top: 5em;
    
}

#emailinput{
    height: 65px;
    width: 400px;
    margin-top: 0em;
}

h5{
    font-size: 0.9em;
}

#btnsub{
    font-size: 20px;
    padding: 12px;
}


hr{
    position: relative;
    width: 100em;
    margin-left: 10em;
}

#copyright{
    padding-bottom: 2.5em;
}

h6{
    color: white;
    padding-left: 8em;
}

#copyright h5{
    padding-right: 8.5em;
}